body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    background-color:black;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 250px;
  }
  
  .display input {
    width: 95%;
    height: 50px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: right;
    padding: 5px;
    background-color: #f9f9f9;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }
  
  .btn {
    background-color:white(0, 0, 0, 0.559);
    color:black;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color:rgba(240, 255, 255, 0.651);
  }
  
  .btn:active {
    transform: scale(0.95);
  }
  